body{
    background-image: url('../src/neco.jpg');
    margin:0;
    overflow-y:visible;
    overflow-x:visible;
}


div.main_page{
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    width: 1125px;
    z-index: 2;
    margin: 0 auto;
    padding: 15px 10px 0 10px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(50px, 45%);
    grid-auto-columns: minmax(400px, 45%);
    justify-items: stretch;
    align-items: stretch;

    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: #39172FFF;
}

div.neco_text{
    align-self: start;
    /*grid-column: 1/2;*/
    line-height: 23px;
    padding: 5px;
    font-size: 20px;
    font-family: minecraft, serif;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    max-width: 100%;
    background-color: rgb(240, 203, 158);
}

.neco_flex_pic{
    max-width:100%;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    margin: 0 auto;
}

img {
    max-width:100%;
    max-height: 100%;
}

@media screen and (min-width: 901px) and (max-width: 1040px) {
    div.neco_text{
        font-size: 16px;
        align-self: start;
    }
}

@media screen and (max-width: 900px){
    div.main_page{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto auto);
    }
    .neco_text{
        font-size: 20px;
    }
}
@media screen and (min-width: 250px) and (max-width: 899px){
    div.neco_text{
        font-size: 14px;
        line-height: 18px;
    }
}

@font-face{
    font-family: "minecraft";
    src: url("../src/minecraft.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}