* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-attachment: fixed;
    background-position: top;
    /*background: url("https://thumbs.gfycat.com/AgileFoolhardyJoey-size_restricted.gif");*/
    background-image: url("../src/bg2-brighted.gif");
    /*background: url("https://steamuserimages-a.akamaihd.net/ugc/930428699254564693/FFA99C866B4EA6BC93D1B9664083DEB6BA1E3386/?imw=512&amp;imh=288&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true");*/
    width: 100%;
    height: 100%;
}

.top-line{
    display: flex;
    z-index: 100;
    padding: 0;
    width: 100%;
    height: 50px;
}

.logo{
    background-image: url("../src/Logo100x50.png");
    background-color: #000386;
    width: 100px;
    height: 100%;
}

.menu{
    z-index: 100;
    width: 300px;
    background-color: black;
    background-image: url("../src/Banner.jpg");
    position: relative;
    color: white;
    text-align: center;
}

#check-menu{
    display: none;
}

.burger-line{
    position: absolute;
    top: 10px;
    right: 12px;
    width: 40px;
    height: 2px;
    background-color: white;
    pointer-events: none;
    transition: .3s all;
}

.burger-line:nth-of-type(2),
.burger-line:nth-of-type(3){
    top: 25px;
}

.burger-line:nth-of-type(4){
    top: 40px;
}

.main-menu{
    z-index: 100;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: .3s all;
}

.main-menu a{
    z-index: 100;
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    color: #5200de;
    background-color: plum;
    text-decoration: none;
    border: 2px gray;
}

.main-menu a:hover{
    background-color: orange;
}

#check-menu:checked ~ .main-menu{
    max-height: 300px;
    font-size: 16px;
}

#check-menu:checked ~ .burger-line:nth-of-type(1),
#check-menu:checked ~ .burger-line:nth-of-type(4){
    display: none;
}

#check-menu:checked ~ .burger-line:nth-of-type(2){
    transform: rotate(45deg);
}
#check-menu:checked ~ .burger-line:nth-of-type(3){
    transform: rotate(-45deg);
}
label {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    line-height: 40px;
    color: white;
}

.banner{
    flex-grow: 1;
    background-image: url("../src/Banner.jpg");
    opacity: 0.8;
}

@media screen and (max-width: 500px){
    .logo{
        background-image: url("../src/Jokerge.png");
        width: 50px;
    }
    .menu{
        width: 100%;
    }
}