body{
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-position: top;
    /*background: url("https://thumbs.gfycat.com/AgileFoolhardyJoey-size_restricted.gif");*/
    background-image: url("../src/bg2-brighted.gif");
    /*background: url("https://steamuserimages-a.akamaihd.net/ugc/930428699254564693/FFA99C866B4EA6BC93D1B9664083DEB6BA1E3386/?imw=512&amp;imh=288&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true");*/
    width: 100%;
    height: 100%;
    overflow-y:hidden;
    overflow-x:hidden;
}

.top-line{
    display: flex;
    padding: 0;
    width: 100%;
    height: 3em;
    background-color: tan;
}

.logo{
    background-color: #000386;
    width: 150px;
    height: 100%;
}

.menu{
    width: 200px;
    background-color: aquamarine;
}

.banner{
    flex-grow: 1;
    background-color: black;
}