* {
  padding: 0;
  margin: 0;
}

.cont{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}
body {
  background-color: black;
  background-image: url("https://cdn.shopify.com/s/files/1/0609/4297/5168/files/VhsBg_Optimized.gif?v=1644853297");
  background-size: 1920px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

.block {
  background-color: aqua;
}

.main_pic {
  display: flex;
  max-width: 100%;
  margin-bottom: 50%;
  margin-top: 20px;
}

.butt {
  display: inline-block;
  text-align: center;


  border-style: solid;
  border-width: 2px;
  border-color: red;

  width: 300px;
  height: 120px;
  font-size: 30px;
  color: red;
  background-image: linear-gradient(-75deg, #000000, #000000);
}

.pure{
  align-items: flex-start;
  display: flex;
  justify-content: center;

}

.butt:hover{
  background-image: linear-gradient(-75deg, #000000, #ef5bf6);
  color: white;
}

.section{
  margin-right: 15%;
}

.loader {
  max-width: 100%;
  visibility: hidden;
  position: relative;
}

.loader span {
  position: absolute;
  margin-left:-100px;
  width: 100px;
  transform-origin: right;
  transform: rotate(calc(18deg * var(--i)));
}

.loader span:before {
  content: '⊕~⊕~⊕~⊕~⊕';
  color: red;
  position: absolute;
  left: 0;
  animation: animate 2s linear infinite;
  animation-delay: calc(-0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(10px) scale(2);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
